:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
  position: fixed !important;
}

.body-global {
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}

.body-global {
  color: #1b1f28;
  background-color: #fff;
  font-weight: 400;
}

.visibility-container {
  position: relative;
  z-index: 1;
}

.prog-hero-container {
  margin: 0 auto;
}

.new-section-container-9,
.new-section-container-10,
.new-section-container {
  margin: 0 auto;
}

.va-borderless-wrapper {
  padding-bottom: var(--_spacing---padding--top-padding);
  padding-top: var(--_spacing---padding--top-padding);
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.footer_copy {
  color: rgb(194, 199, 207);
  font-size: 14px;
  line-height: 24px;
  padding: var(--_spacing---padding--side-padding);
}

.prog-link-block {
  position: static !important;
}
