@scope (.wf-devlink-5edbc174b18fbcdc9d445989544568e2) {
  body {
    font-family: Aeonik, Arial, sans-serif;
    color: var(--text--grey);
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
  }
  h1 {
    margin-bottom: 10px;
    font-size: 60px;
    line-height: 120%;
    font-weight: 700;
  }
  h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: var(--text--grey);
    font-size: 32px;
    line-height: 140%;
    font-weight: 700;
  }
  h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
  }
  h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
  }
  p {
    line-height: 140%;
  }
  a {
    text-decoration: none;
  }
  ul {
    margin-top: 0px;
    margin-bottom: 10px;
    padding-left: 20px;
  }
  ol {
    margin-top: 0px;
    margin-bottom: 10px;
    padding-left: 20px;
  }
  li {
    margin-left: 2em;
  }
  img {
    max-width: 100%;
  }
  em {
    font-style: italic;
  }
  figure {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #w-node-_7a38a832-3bff-c828-31ea-ccf1b8aba821-b8aba81d {
    grid-column-start: span 1;
    grid-column-end: span 1;
    grid-row-start: span 1;
    grid-row-end: span 1;
  }
  #w-node-ccf2936b-c83f-dcfd-1b94-c83f477278fb-477278fb {
    grid-column-start: span 1;
    grid-column-end: span 1;
    grid-row-start: span 1;
    grid-row-end: span 1;
  }
  #w-node-_45b60002-c62e-b7df-43ed-eb2fa0b184b6-a0b184a8 {
    grid-column-start: span 1;
    grid-column-end: span 1;
    grid-row-start: span 1;
    grid-row-end: span 1;
  }
  #w-node-_45b60002-c62e-b7df-43ed-eb2fa0b184bc-a0b184a8 {
    grid-column-start: span 1;
    grid-column-end: span 1;
    grid-row-start: span 1;
    grid-row-end: span 1;
  }
  #w-node-_45b60002-c62e-b7df-43ed-eb2fa0b184d0-a0b184a8 {
    grid-column-start: span 1;
    grid-column-end: span 1;
    grid-row-start: span 1;
    grid-row-end: span 1;
  }
  #w-node-_45b60002-c62e-b7df-43ed-eb2fa0b184e0-a0b184a8 {
    grid-column-start: span 1;
    grid-column-end: span 1;
    grid-row-start: span 1;
    grid-row-end: span 1;
  }
  #w-node-_45b60002-c62e-b7df-43ed-eb2fa0b184ea-a0b184a8 {
    grid-column-start: span 1;
    grid-column-end: span 1;
    grid-row-start: span 1;
    grid-row-end: span 1;
  }
  #w-node-_45b60002-c62e-b7df-43ed-eb2fa0b184f4-a0b184a8 {
    grid-column-start: span 1;
    grid-column-end: span 1;
    grid-row-start: span 1;
    grid-row-end: span 1;
  }
  #w-node-_2d668a69-485b-ebcd-49e0-80a850ac7c1e-a0b184a8 {
    grid-column-start: span 1;
    grid-column-end: span 1;
    grid-row-start: span 1;
    grid-row-end: span 1;
  }
  #w-node-_45b60002-c62e-b7df-43ed-eb2fa0b1850a-a0b184a8 {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 1;
    grid-column-end: span 1;
  }
  #w-node-_33f62830-b1a0-3d4c-37a4-563e14340edb-14340ed3 {
    grid-column-start: span 1;
    grid-column-end: span 1;
    grid-row-start: span 1;
    grid-row-end: span 1;
    justify-self: start;
  }
  #w-node-_33f62830-b1a0-3d4c-37a4-563e14340ee3-14340ed3 {
    grid-column-start: span 1;
    grid-column-end: span 1;
    grid-row-start: span 1;
    grid-row-end: span 1;
    justify-self: start;
  }
  #w-node-_33f62830-b1a0-3d4c-37a4-563e14340eeb-14340ed3 {
    grid-column-start: span 1;
    grid-column-end: span 1;
    grid-row-start: span 1;
    grid-row-end: span 1;
    justify-self: start;
  }
  #w-node-e30a8f3f-ddd3-d6d4-7289-e108022dd1f8-022dd1ef {
    grid-column-start: span 1;
    grid-column-end: span 1;
    grid-row-start: span 1;
    grid-row-end: span 1;
  }
  #w-node-_620ce92f-b21f-df24-b401-f5e33c3035af-022dd1ef {
    grid-column-start: span 1;
    grid-column-end: span 1;
    grid-row-start: span 1;
    grid-row-end: span 1;
  }
  #w-node-_03f0b0e2-2e0d-fc8f-4847-edb940061d32-022dd1ef {
    grid-column-start: span 1;
    grid-column-end: span 1;
    grid-row-start: span 1;
    grid-row-end: span 1;
  }
  #w-node-e30a8f3f-ddd3-d6d4-7289-e108022dd208-022dd1ef {
    grid-column-start: span 1;
    grid-column-end: span 1;
    grid-row-start: span 1;
    grid-row-end: span 1;
  }
  #w-node-e30a8f3f-ddd3-d6d4-7289-e108022dd201-022dd1ef {
    grid-column-start: span 1;
    grid-column-end: span 1;
    grid-row-start: span 1;
    grid-row-end: span 1;
  }
  #w-node-e30a8f3f-ddd3-d6d4-7289-e108022dd20f-022dd1ef {
    grid-column-start: span 1;
    grid-column-end: span 1;
    grid-row-start: span 1;
    grid-row-end: span 1;
  }
  @media screen and (max-width: 479px) {
    #w-node-_45b60002-c62e-b7df-43ed-eb2fa0b184b6-a0b184a8 {
      grid-column-start: span 1;
      grid-column-end: span 1;
      grid-row-start: span 1;
      grid-row-end: span 1;
      justify-self: center;
    }
    #w-node-_45b60002-c62e-b7df-43ed-eb2fa0b184bc-a0b184a8 {
      grid-column-start: span 1;
      grid-column-end: span 1;
      grid-row-start: span 1;
      grid-row-end: span 1;
      justify-self: center;
    }
    #w-node-_45b60002-c62e-b7df-43ed-eb2fa0b1850a-a0b184a8 {
      grid-row-start: span 1;
      grid-row-end: span 1;
      grid-column-start: span 1;
      grid-column-end: span 1;
    }
  }
}
