:root {
  --text--grey: #1a1a1a;
  --light-grey--300: hsla(216.00000000000014, 20%, 95.1%, 1);
  --light-grey--200: #f6f6f9;
  --text--default: #1b1f28;
  --brand--700: hsla(218.95287958115182, 77.33%, 51.57%, 1);
  --_spacing---spacing--spacing-1-5: 1.5em;
  --_spacing---spacing--spacing-0-5: 0.5em;
  --text--soft: hsla(221.1428571428571, 19.34%, 35.49%, 1);
  --text--softer: #8592ad;
  --light-grey--400: #e1e4eb;
  --dark-grey--700: #1b1f28;
  --text--inverse: white;
  --_spacing---spacing--spacing-2: 2em;
  --light-grey--100: white;
  --teal-left: hsla(180, 21.97%, 67.53%, 1);
  --teal-right: #00595f;
  --dark-grey--900: #040506;
  --_spacing---spacing--content-spacer: 6.25em;
  --text--disabled: #d1d6e1;
  --dark-grey--400: #363f51;
  --brand--800: #004cc5;
  --_spacing---spacing--spacing-1: 1em;
  --dark-grey--100: #525f7a;
  --brand--100: #f6f9fe;
  --light-grey--900: hsla(220.50000000000003, 19.61%, 60%, 1);
  --_spacing---spacing--spacing-4: 4em;
  --_sizes---dimensions--max-width: 1200px;
  --_sizes---dimensions--stroke-width: 0.5px;
  --_valentine-s---light-grey--500: #dadee7;
  --_valentine-s---spacing--spacing-2-5: 2.5em;
  --_spacing---padding--top-padding: 7.5em;
  --_spacing---padding--side-padding: 3vw;
  --_valentine-s---spacing--spacing-3: 3em;
  --brand--brand--800: white;
  --dark-grey--500: hsla(220.9090909090909, 19.64%, 21.96%, 1);
  --dark-grey--800: #14181f;
  --_valentine-s---dark-red: #5b192c;
  --transparent: hsla(0, 2%, 0%, 0);
  --purple--700: #5e19b3;
  --purple--900: #2f0d59;
  --yellow-accent: #eccc80;
  --purple--100: #efe4fb;
  --_sizes---radius-pill: 6.25rem;
  --white-18: rgba(255, 255, 255, 0.18);
  --blue-200: #c8d6fb;
}
